main{
    width: 100%;
}

h1{
    margin-top: 12px;
    padding: ;
}

.logo{
    width: 10%;
    margin-top: 7%;
}

.didascalia-1{
    margin-top: 0;
}

header{
    background-image: url(img/pattern.png);
    background-color: rgb(26, 88, 146);
    background-repeat: repeat-x;
    height: 180px;
}

span{
    background-color: yellow;
}

thead{
    background-color: rgb(26, 168, 211);
    color: white;
}

.azzurro{
    background-color: rgb(154, 218, 243);
}

h4{
    color:gray;
}

.card{
    padding-bottom: 3em;
    background-image: url("img/monitor.jpg");
    color: #FFFFFF;
    font-size: 140%;
    font-weight: normal;
    line-height: 30px;
    text-align: left;
    width: 208px;
    height: 160px;
}

.cardone{
    padding-bottom: 3em;
    background-image: url("img/graph.jpg");
    color: #FFFFFF;
    font-size: 140%;
    font-weight: normal;
    line-height: 30px;
    text-align: left;
    width: 208px;
    height: 160px;
}    